@use '../styles/variables.scss' as *;;

.lab-news {
    .to-be-continued {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .news-item {
        text-align: center;

        p {
            text-align: left;
        }

        .time {
            text-decoration: underline;
        }

        img {
            margin: 1rem auto;
            min-width: 120px;
        }
    }
} 