@use '../styles/variables.scss' as *;;

.publications {

  .publications-list {
    .year-group {
      margin-bottom: 3rem;

      .year-title {
        color: $text-blue;
        font-size: 1.5rem;
        text-align: left;
      }

      .year-publications {
        .publication-item {
          .publication-title {
            color: $text-dark;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
          }

          .publication-authors {
            color: $text-dark;
            font-style: italic;
            margin-bottom: 0.5rem;
            font-size: 0.95rem;
          }

          .publication-journal {
            color: $text-dark;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
} 