@use '../styles/variables.scss' as *;;

.footer {
  color: $text-dark;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid lightgray;
  z-index: 1000;

  .footer-content {
    p {
      margin: 0.5rem 0;
      font-size: 0.9rem;
    }
  }
}
